- name: Install dotfiles
  vars:
    home_dir: "{{ lookup('env', 'HOME') }}"
    dotfiles_dir: "{{ home_dir }}/dotfiles"

  block:
    - name: Remove conflicting files
      file:
        path: "{{ home_dir }}/.config/{{ item }}"
        state: absent
      loop:
        - starship.toml
        - zsh-autocomplete
        - zsh-autosuggestions
        - zsh-syntax-highlighting
        - nvim
        - tmux

    - name: Remove conflicting files
      file:
        path: "{{ home_dir }}/{{ item }}"
        state: absent
      loop:
        - .tmux.conf
        - starship.toml
        - tmux.conf
        - .zshrc
        - .tmux

    - name: ensure .zshrc-specific exists
      copy:
        content: ""
        dest: "{{ home_dir }}/.zshrc-specific"
        force: false

    # CONFIGURE ZSH
    - name: Install Starship
      become: true
      shell: curl -sS https://starship.rs/install.sh | sh -s -- -y

    - name: Configure dotfiles with stow
      become: true
      shell: stow --target="{{ home_dir }}" zshrc 
      args:
        chdir: "{{ dotfiles_dir }}"

    - name: Ensure Zsh is the default shell
      lineinfile:
        path: "{{ home_dir }}/.bashrc"
        line: "exec zsh"
        create: yes

# CONFIGURE nvim
    - name: Configure nvim
      become: true
      shell: |
        stow --target={{ home_dir }} nvim
      args:
        chdir: "{{ dotfiles_dir }}"

#CONFIGURE tmux
    - name: Configure tmux
      become: true
      shell: |
        stow --target={{ home_dir }} tmux
      args:
        chdir: "{{ dotfiles_dir }}"

    - name: Ensure tmux session is running
      command: tmux new-session -d -s mysession
      ignore_errors: yes 

    - name: Source .tmux.conf to reload tmux configuration
      shell: tmux source-file /Users/shaynetaylor/.tmux.conf
      when: ansible_facts['tmux']['session']['mysession'] is defined

    - name: Install tmux plugins using TPM
      shell: /Users/shaynetaylor/.tmux/plugins/tpm/bin/install_plugins
      when: ansible_facts['tmux']['session']['mysession'] is defined